<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>

    * {
      font-family: '-apple-system', sans-serif;
      text-align: center;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: orangered;
    }

    a:hover {
      text-decoration: underline;
    }

  </style>

  <h1>Your document '<i><u>{{ title }}</u></i>' has been successfully deleted</h1>
  <p>If you didn't mean to delete that doc, well too late, <b>you messed up😬! We warned you 🙄!</b></p>
  <a href="/">Go Home to Browse</a>
  
</body>
</html>