<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<style>
		* {
			font-family: '-apple-system', sans-serif;
			text-align: center;
		}

		a {
			cursor: pointer;
			text-decoration: none;
			color: orangered;
		}

		a:hover {
			text-decoration: underline;
		}

		ul {
			list-style-type: none;
		}
	</style>


	<h1>Invalid Title</h1>
	<p>A part of your title has been marked invalid. Here is a list of the guidlines of doc naming.</p>
	<ul>

		<li>Can't contain question marks. (?)</li>
		<li>Can't contain single quotes. (')</li>
		<li>Can't contain percent. (%)</li>
		<li>Can't contain addition. (+)</li>
		<li>Can't just be empty or just contain whitespaces.</li>
	</ul>
	<a href="/">Go Back to Change</a>


</body>

</html>